@import './common/reset';
@import './common/variables';
@import './common/function';
@import './common/font.scss';

html {
    font-size: 100vw;
}

header {
    font-size: calcRem(20);
    background: $header-bg;
}



