@import './common/reset';
@import './common/variables';
@import './common/function';
@import './common/font';

html {
    font-size: 100vw;
    position: relative;
}

body {
    font-family: "Futura Medium";
    font-size: rem(16);
    color: #5D5D5D;
}
