@import './../../style/common.scss';

html {
    height:100%;
    overflow:hidden;
    background: #F4F4F4 !important;
}

.detail-area {
    position: absolute;
    top: rem($header-height);
    left: 0;
    right: 0;
    bottom: 0;
    background: #F4F4F4;
    overflow: auto;
}